
@model  Notes_Market_Place.Models.UserProfile

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}


<section class="banner-background">
    <div class="info text-center home-banner-heading">
        <h2>User Profile</h2>
    </div>
</section>

@using (Html.BeginForm("UserProfile", "Profile", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{
    <section class="Add-notes">
        <div class="container">
            <div class="row first-component">
                <div class="col-md-12">
                    <div class="heading-01">
                        <h2>Basic Profile Details</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--left side-->
                <div class="col-md-6">
                    <div>
                        <div class="form-group input-flid">
                            <label for="text-1" class="titles">First Name *</label>
                            @*<input type="text" class="form-control" id="text-1" placeholder="Enter your first name">*@
                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "Enter your first name" })
                            @Html.ValidationMessageFor(model => model.FirstName)
                        </div>
                    </div>
                </div>
                <!--right side-->
                <div class="col-md-6">
                    <div id="category">
                        <div class="form-group input-flid">
                            <label for="text-1" class="titles">Last Name *</label>
                            @*<input type="text" class="form-control" id="text-1" placeholder="Enter your last name">*@
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Enter your last name" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--left side-->
                <div class="col-md-6">
                    <div>
                        <div class="form-group input-flid">
                            <label for="text-1" class="titles">Email *</label>
                            @*<input type="email" class="form-control" id="text-1"
                                   placeholder="Enter your email address">*@
                            @Html.TextBoxFor(model => model.SecondaryEmailAddress, new { @class = "form-control", @placeholder = "Enter your Secondary email address" })
                            @Html.ValidationMessageFor(model => model.SecondaryEmailAddress)
                        </div>
                    </div>
                </div>
                <!--right side-->
                <div class="col-md-6">
                    <div id="category">
                        <div class="form-group input-flid">
                            <label for="text-1" class="titles">Date Of Birth</label>
                            @*<input type="date" class="form-control" id="text-1"
                                   placeholder="Enter your date of birth">*@
                            @Html.TextBoxFor(model => model.DOB, new { @class = "form-control", @placeholder = "Enter your date of birth" , @type = "date" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--left side-->
                <div class="col-md-6">
                    <div class="form-group input-flid">
                        <label class="titles">Gender</label>
                        @Html.DropDownListFor(model => model.Gender, ViewBag.gendrename as SelectList, "Select Country", new { @class = "form-control form-control-md dropdown" })
                        @*<select class="form-control form-control-md" placeholder="Select your gender">
                            <option>Select your Gender</option>
                        </select>*@
                    </div>
                </div>
                <!--right side-->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5 phone">
                            <div class="form-group input-flid">
                                <label class="titles">Phone Number</label>
                                @Html.DropDownListFor(model => model.Phone_number_Country_Code, ViewBag.countrycode as SelectList, "Select Code", new { @class = "form-control form-control-md dropdown" })
                                @*<select class="form-control form-control-md" placeholder="+91">
                                    <option>+91</option>
                                </select>*@
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="form-group input-flid">
                                <label class="titles">&nbsp;</label>
                                @*<input type="number" class="form-control" id="text-1"
                                       placeholder="Enter your phone number">*@
                                @Html.TextBoxFor(model => model.phonenumber, new { @class = "form-control", @placeholder = "Enter your phone number", @type = "number" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group input-flid">
                        <label for="file" class="titles">Profile Picture</label>
                        <input type="file" class="form-control text-center note-preview" name="profilepicutre" accept="image/*">
                        <img src="~/Content/images/upload-file.png" alt="upload-file" class="upload-notes">
                    </div>
                </div>
            </div>
        </div>


    </section>
    <section class="Add-notes">
        <div class="institution-information">
            <div class="container">
                <div class="row first-component">
                    <div class="col-md-12">
                        <div class="heading-01">
                            <h2>Address Details</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--left side-->
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label class="titles">Address Line 1 *</label>
                            @*<input type="text" class="form-control" id="text-1" placeholder="Enter your address">*@
                            @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control", @placeholder = "Enter your address" })
                            @Html.ValidationMessageFor(model => model.AddressLine1)
                        </div>
                    </div>
                    <!--right side-->
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label class="titles">Address Line 2</label>
                            @*<input type="text" class="form-control" id="text-1" placeholder="Enter your address">*@
                            @Html.TextBoxFor(model => model.AddressLine2, new { @class = "form-control", @placeholder = "Enter your address" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--left side-->
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label class="titles">City *</label>
                            @*<input type="text" class="form-control" id="text-1" placeholder="Enter your city">*@
                            @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "Enter your city" })
                            @Html.ValidationMessageFor(model => model.City)
                        </div>
                    </div>
                    <!--right side-->
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label class="titles">State *</label>
                            @*<input type="text" class="form-control" id="text-1" placeholder="Enter your state">*@
                            @Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "Enter your state" })
                            @Html.ValidationMessageFor(model => model.State)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--left side-->
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label class="titles">ZipCode *</label>
                            @*<input type="number" class="form-control" id="text-1" placeholder="Enter your Zip Code">*@
                            @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control", @placeholder = "Enter your Zip Code", @type = "number" })
                            @Html.ValidationMessageFor(model => model.ZipCode)
                        </div>
                    </div>
                    <!--right side-->
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label class="titles">Country *</label>
                            @Html.DropDownListFor(model => model.Country, ViewBag.countryname as SelectList, "Select Country", new { @class = "form-control form-control-md dropdown" })
                            @Html.ValidationMessageFor(model => model.Country)
                            @*<select class="form-control form-control-md" placeholder="Select your country">
            <option>Select your country</option>
        </select>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="Add-notes">
        <div class="course-detail">
            <div class="container">
                <div class="row first-component">
                    <div class="col-md-12">
                        <div class="heading-01">
                            <h2>University and Collage Information</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!--left side-->
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label class="titles">University</label>
                            @*<input type="text" class="form-control" id="institution-name"
                                   placeholder="Enetr your university">*@
                            @Html.TextBoxFor(model => model.University, new { @class = "form-control", @placeholder = "Enetr your university"})
                        </div>
                    </div>
                    <!--right side-->
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label class="titles">Collage</label>
                            @*<input type="text" class="form-control" id="institution-name"
                                   placeholder="Enetr your Collage">*@
                            @Html.TextBoxFor(model => model.Collage, new { @class = "form-control", @placeholder = "Enetr your Collage" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="home-add-notes">
                            @*<a class="btn btn-general btn-home-03" href="#" target="save" role="button">submit</a>*@
                            <input type="submit" class="btn btn-general btn-home-03" value="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

