
@model  Notes_Market_Place.Models.User

@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">
    <title>Signup</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Content/images/favicon.ico">

    <!--GoogleFont-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--font - awesome-->
    <link rel="stylesheet" href="~/Content/css/font-awesome/css/font-awesome.min.css">

    <!--bootstrap css-->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!--style css-->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

</head>

<body>
    <section>
        <!--Background Image-->
        <div class="home-bg-image-signup">
            <div class="container">
                <div class="row justify-content-center">
                    <div class=" col-12 col-sm-9 col-md-6">
                        @using (Html.BeginForm("Signup","Login", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <div class="login-form-signup">
                                <img src="~/Content/images/top-logo.png" alt="logo" class="login-img">
                                <div class="form-container">
                                    <div class="login-1">
                                        <div class="heading-01 text-center">
                                            <h2>Create an Account</h2>
                                            <p class="login-pera">Enter your detail to signup</p>
                                        </div>
                                    </div>
                                    @if (ViewBag.Message != null)
                                    {
                                        <div class="text-center">
                                            <p id="password-error"><i class="fa fa-times"></i>@ViewBag.Message</p>
                                        </div>
                                    }
                                    else if (ViewBag.Message1 != null)
                                    {
                                        <div class="text-center">
                                            <p id="signup-pera"><i class="fa fa-check-circle"></i> Your account has been successfilly created.</p>
                                        </div>
                                    }
                                    @*<div class="text-center">
                                            <p id="signup-pera"><i class="fa fa-check-circle"></i> Your account has been successfilly created.</p>
                                        </div>*@
                                    <div class="form-group email-flid">
                                        <label for="InputFirstName" class="titles">First Name *</label>
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control InputEmail1", @placeholder = "Enter your First name" })
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                        @*<input type="text" class="form-control InputEmail1" value="john">*@
                                    </div>
                                    <div class="form-group email-flid">
                                        <label for="InputLastName" class="titles">Last Name *</label>
                                        @Html.TextBoxFor(modal => modal.LastName, new { @class = "form-control InputEmail1", @id = "InputLastName", @placeholder = "Enter your Last name" })
                                        @Html.ValidationMessageFor(modal => modal.LastName)
                                        @*<input type="text" class="form-control" id="InputLastName" placeholder="Enter your last name">*@
                                    </div>
                                    <div class="form-group email-flid">
                                        <label class="titles">Email *</label>
                                        @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control InputEmail1", @id = "InputEmail", @placeholder = "Enter EmailID" })
                                        @Html.ValidationMessageFor(model => model.EmailID)
                                        @*<input type="email" class="form-control" id="InputEmail" placeholder="Enter your email address">*@
                                    </div>
                                    <div class="form-group pass-flid">
                                        <label class="titles">Password</label>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control InputEmail1", @id = "InputSignupPassword1", @placeholder = "Enter your password" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                        @*<input type="password" class="form-control" id="InputSignupPassword1" placeholder="Enter your password"
                                            name="password">*@
                                        <span toggle="#InputSignupPassword1" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                                    </div>
                                    <div class="form-group" id="pass-flid">
                                        <label class="titles">Conform Password</label>
                                        @Html.PasswordFor(model => model.ConformPassword, new { @class = "form-control InputEmail1", @id = "InputSignupPassword2", @placeholder = "Re-enter your password" })
                                        @Html.ValidationMessageFor(model => model.ConformPassword)
                                        @*<input type="password" class="form-control" id="InputSignupPassword2"
                                            placeholder="Re-enter your password" name="password">*@
                                        <span toggle="#InputSignupPassword2" class="fa fa-fw fa-eye field-icon toggle-password"></span>

                                    </div>
                                    <input type="submit" class="btn btn-lg btn-block login-btn" value="sign up">
                                    <div id="login-end">
                                        <div class="titles text-center">
                                            Already have an account? <a href="~/Login/Index"
                                                                        style="color: #6255a5;">Login</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Home Ends-->
    <!--jQuery-->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <!--bootstrap JS-->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!--Custom javascript-->
    <script src="~/Scripts/script.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>

    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>