@model IEnumerable<Notes_Market_Place.Models.SellerNote>

<div class="row table-responsive">
    <table class="table text-center">
        <thead>
            <tr class="titles">
                <th scope="col">
                    @*ADDED DATE*@
                    @Html.ActionLink("ADDED DATE", "DashBoard", new { SortorderPublish = ViewBag.SortorderPublish == null ? "DESC" : (ViewBag.SortorderPublish == "ASC" ? "DESC" : "ASC"), SortByPublish = "ADDED DATE", PageNumberPublish = ViewBag.PageNumberPublish == 0 ? 1 : ViewBag.PageNumberPublish }, new { @style = "color:#000000;" })
                </th>
                <th scope="col">
                    @*TITLE*@
                    @Html.ActionLink("TITLE", "DashBoard", new { SortorderPublish = ViewBag.SortorderPublish == null ? "DESC" : (ViewBag.SortorderPublish == "ASC" ? "DESC" : "ASC"), SortByPublish = "TITLE", PageNumberPublish = ViewBag.PageNumberPublish == 0 ? 1 : ViewBag.PageNumberPublish }, new { @style = "color:#000000;" })
                </th>
                <th scope="col">
                    @*CATEGORY*@
                    @Html.ActionLink("CATEGORY", "DashBoard", new { SortorderPublish = ViewBag.SortorderPublish == null ? "DESC" : (ViewBag.SortorderPublish == "ASC" ? "DESC" : "ASC"), SortByPublish = "CATEGORY", PageNumberPublish = ViewBag.PageNumberPublish == 0 ? 1 : ViewBag.PageNumberPublish }, new { @style = "color:#000000;" })
                </th>
                <th scope="col">SELL TYPE</th>
                <th scope="col">PRICE</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody class="table-data">

            @foreach (var item in Model)
            {
                if (item.Status == 9)
                {
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NoteCategory.Name)
                        </td>
                        @if (item.IsPaid == true)
                        {
                            <td>Paid</td>
                        }
                        else
                        {
                            <td>Free</td>
                        }
                        <td>
                            $@Html.DisplayFor(modelItem => item.SellingPrice)
                        </td>
                        <td>
                            <a href="@Url.Action("NotesDeatil", "Home", new {id = item.ID })"><img src="~/Content/images/eye.png" alt="eye-image"></a>
                        </td>
                    </tr>
                }

            }

        </tbody>
    </table>
</div>

<section class="dashboard-pagination">
        <div class="pagelist">
            <nav>
                <ul class="pagination justify-content-center">
                    @*<li class="page-item">
            <a class="page-link" href="#"><img src="~/Content/images/left-arrow.png" alt="left-arrow"></a>
        </li>*@
                    @{
                        if (ViewBag.totalpagesPublish !=null)
                        {
                            double TotalPages1 = ViewBag.totalpagesPublish;
                            if (ViewBag.PageNumberPublish == 1)
                            {
                                <li class="page-item">
                                    @Html.ActionLink("<", "DashBoard", new { SortorderPublish = ViewBag.SortorderPublish == null ? "DESC" : ViewBag.SortorderPublish, SortByPublish = ViewBag.SortByPublish == null ? "TITLE" : ViewBag.SortByPublish, PageNumberPublish = ViewBag.PageNumberPublish }, new { @class = "page-link" })
                                    @*<a class="page-link" href="#"><img src="~/Content/images/left-arrow.png" alt="right-arrow"></a>*@
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    @Html.ActionLink("<", "DashBoard", new { SortorderPublish = ViewBag.SortorderPublish == null ? "DESC" : ViewBag.SortorderPublish, SortByPublish = ViewBag.SortByPublish == null ? "TITLE" : ViewBag.SortByPublish, PageNumberPublish = ViewBag.PageNumberPublish - 1 }, new { @class = "page-link" })
                                    @*<a class="page-link" href="#"><img src="~/Content/images/left-arrow.png" alt="right-arrow"></a>*@
                                </li>
                            }
                            for (int i = 1; i <= TotalPages1; i++)
                            {
                                if (i == ViewBag.PageNumberPublish)
                                {
                                    <li class="page-item active">
                                        @Html.ActionLink(i.ToString(), "DashBoard", new { SortorderPublish = ViewBag.SortorderPublish == null ? "DESC" : ViewBag.SortorderPublish, SortByPublish = ViewBag.SortByPublish == null ? "TITLE" : ViewBag.SortByPublish, PageNumberPublish = i }, new { @class = "page-link" })
                                        @*<a class="page-link" href="#">@i</a>*@
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item ">
                                        @Html.ActionLink(i.ToString(), "DashBoard", new { SortorderPublish = ViewBag.SortorderPublish == null ? "DESC" : ViewBag.SortorderPublish, SortByPublish = ViewBag.SortByPublish == null ? "TITLE" : ViewBag.SortByPublish, PageNumberPublish = i }, new { @class = "page-link" })
                                        @*<a class="page-link" href="#">@i</a>*@
                                    </li>
                                }
                            }
                            if (ViewBag.PageNumberPublish == TotalPages1)
                            {
                                <li class="page-item">
                                    @Html.ActionLink(">", "DashBoard", new { SortorderPublish = ViewBag.SortorderPublish == null ? "DESC" : ViewBag.SortorderPublish, SortByPublish = ViewBag.SortByPublish == null ? "TITLE" : ViewBag.SortByPublish, PageNumberPublish = ViewBag.PageNumberPublish }, new { @class = "page-link" })
                                    @*<a class="page-link" href="#"><img src="~/Content/images/left-arrow.png" alt="right-arrow"></a>*@
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    @Html.ActionLink(">", "DashBoard", new { SortorderPublish = ViewBag.SortorderPublish == null ? "DESC" : ViewBag.SortorderPublish, SortByPublish = ViewBag.SortByPublish == null ? "TITLE" : ViewBag.SortByPublish, PageNumberPublish = ViewBag.PageNumberPublish + 1 }, new { @class = "page-link" })
                                    @*<a class="page-link" href="#"><img src="~/Content/images/left-arrow.png" alt="right-arrow"></a>*@
                                </li>
                            }
                        }

                    }
                </ul>
            </nav>
        </div>
    </section>