@using Notes_Market_Place.Models

@model  Notes_Market_Place.Models.Contectus

@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="banner-background">
    <div class="info text-center home-banner-heading">
        <h2>Contact Us</h2>
    </div>
</section>
@using (Html.BeginForm("Contact","Home",FormMethod.Post))
{
<section class="Add-notes">
    <div class="container">
        <div class="row first-component">
            <div class="col-md-12">
                <div class="heading-01 home-pera">
                    <h2>Get in Touch</h2>
                    <p id="contect-pera">Let us know how to get back to you</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!--left side-->
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group input-flid">
                            <label  class="titles">Full Name *</label>
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", @placeholder = "Enter your full name" })
                            @Html.ValidationMessageFor(model => model.FullName)
                            @*<input type="text" class="form-control" id="text-1" placeholder="Enter your full name" maxlength="50">*@
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group input-flid">
                            <label class="titles">Email Address *</label>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", @placeholder = "Enter your email address", @disabled = "disabled" })
                                @Html.ValidationMessageFor(model => model.EmailID)
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.EmailID, new { @class = "form-control", @placeholder = "Enter your email address" })
                                @Html.ValidationMessageFor(model => model.EmailID)
                            }
                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group input-flid">
                            <label class="titles">Subject *</label>
                            @Html.TextBoxFor(model => model.Subject, new { @class = "form-control", @placeholder = "Enter your subject" })
                            @Html.ValidationMessageFor(model => model.Subject)
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="home-add-notes">
                            <input type="submit" class="btn btn-general btn-home-03"  value="submit">
                        </div>
                    </div>
                </div>
            </div>
            <!--right side-->
            <div class="col-md-6 col-sm-6">
                <div class="form-group input-flid">
                    <label  class="titles">Comments/Question *</label>
                    @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @placeholder = "Enter your description", @rows = 12 })
                    @Html.ValidationMessageFor(model => model.Comments)
                   
                </div>
            </div>
        </div>
    </div>
</section>
}
