
@{
    ViewBag.Title = "NotesDeatil";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="notes-01">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-03-info notes-heading-1">
                        <h3>Notes Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--left side-->
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <!--left part-->
                        <div class="col-md-6 col-sm-6 col-6">
                            <div class="note-img">
                                <img src="@Url.Content(ViewBag.Display)" alt="computer-science book">
                            </div>
                        </div>
                        <!--right part-->
                        <div class="col-md-6 col-sm-6 col-6">
                            <div id="aboutnote">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="heading-01" id="note-name">
                                            <h2>@ViewBag.title@*Computer Science*@</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="type">
                                    <h2>@ViewBag.Category@*Sciences*@</h2>
                                </div>
                                <div class="note-description">
                                    <p>
                                        @ViewBag.Description
                                        @*Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam aperiam
                quibusdam animi amet quam repudiandae molestias, placeat!
                animi amet quam, placeat!*@
                                    </p>
                                </div>
                                @if (ViewBag.IsPaid == false)
                                {
                                    <div id="home-btn">
                                        <a class="btn notes-btn btn-home-03" href="@Url.Action("Download","Notes",new {id=ViewBag.id})" target="download"
                                          >Download@*$15*@</a>
                                    </div>
                                }
                                else
                                {
                                    <div id="home-btn">
                                        <a class="btn notes-btn btn-home-03" href="#myModal1" target="download"
                                           role="button" data-toggle="modal">Download/$@ViewBag.SellingPrice@*$15*@</a>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <!--right side-->
                <div class="col-md-6">
                    <div class="row">
                        <!--right side-->
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="notes-detail-left">
                                <h4>Institution:</h4>
                            </div>
                        </div>
                        <!--left side-->
                        <div class="col-md-8 col-sm-8 col-8 text-right">
                            <div class="notes-detail-right">
                                <h4>@ViewBag.Institute@*University of California*@</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--right side-->
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="notes-detail-left">
                                <h4>Country:</h4>
                            </div>
                        </div>
                        <!--left side-->
                        <div class="col-md-8 col-sm-8 col-8 text-right">
                            <div class="notes-detail-right">
                                <h4>@ViewBag.Country@*United States*@</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--right side-->
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="notes-detail-left">
                                <h4>Course Name:</h4>
                            </div>
                        </div>
                        <!--left side-->
                        <div class="col-md-8 col-sm-8 col-8 text-right">
                            <div class="notes-detail-right">
                                <h4>@ViewBag.Course@*Computer Engineering*@</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--right side-->
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="notes-detail-left">
                                <h4>Course Code:</h4>
                            </div>
                        </div>
                        <!--left side-->
                        <div class="col-md-8 col-sm-8 col-8 text-right">
                            <div class="notes-detail-right">
                                <h4>@ViewBag.CourseCode@*248705*@</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--right side-->
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="notes-detail-left">
                                <h4>Professor:</h4>
                            </div>
                        </div>
                        <!--left side-->
                        <div class="col-md-8 col-sm-8 col-8 text-right">
                            <div class="notes-detail-right">
                                <h4>@ViewBag.Proffesor@*Mr.Riachand Brown*@</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--right side-->
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="notes-detail-left">
                                <h4>Number of Pages:</h4>
                            </div>
                        </div>
                        <!--left side-->
                        <div class="col-md-8 col-sm-8 col-8 text-right">
                            <div class="notes-detail-right">
                                <h4>@ViewBag.NumberofPages@*277*@</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--right side-->
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="notes-detail-left">
                                <h4>Approved Date:</h4>
                            </div>
                        </div>
                        <!--left side-->
                        <div class="col-md-8 col-sm-8 col-8 text-right">
                            <div class="notes-detail-right">
                                <h4>@ViewBag.ApporvedDate@*November 25 2020*@</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!--right side-->
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="notes-detail-left">
                                <h4>Rating:</h4>
                            </div>
                        </div>
                        <!--left side-->
                        <div class="col-md-8 col-sm-8 col-8 text-right">
                            <div class="notes-detail-right">
                                <div class="stars rating-star">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star empty-star"></i>
                                    <h4> 100 Reviews</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-12">
                            <div class="flag">
                                5 Users marked this note as in approriate
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
<section id="notes-02">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home-03-info notes-heading-1">
                    <h3>Notes Preview</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="pdf-demo">
                            <iframe src="@Url.Content(ViewBag.NotePreview)" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-03-info notes-heading-1">
                    <h3>Customber Reviews</h3>
                </div>
                <div id="customber-review">
                    <div class="customber-reviewr-part">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-2">
                                <img src="~/Content/images/reviewer-1.png" alt="reviewer-1">
                            </div>
                            <div class="col-md-10 col-sm-10 col-10">
                                <h4>Richard Brown</h4>
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star empty-star"></i>
                                </div>
                                <div class="note-description review-description">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sit asperiores
                                        dolore, hic.
                                    </p>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-2">
                                <img src="~/Content/images/reviewer-2.png" alt="reviewer-1">
                            </div>
                            <div class="col-md-10 col-sm-10 col-10">
                                <h4>Alice Ortiaz</h4>
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star empty-star"></i>
                                </div>
                                <div class="note-description review-description">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sit asperiores
                                        dolores voluptatibus enim, hic.
                                    </p>
                                </div>

                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-2">
                                <img src="~/Content/images/reviewer-3.png" alt="reviewer-1">
                            </div>
                            <div class="col-md-10 col-sm-10 col-10">
                                <h4>Sara Passmore</h4>
                                <div class="stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star empty-star"></i>
                                </div>
                                <div class="note-description review-description">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sit asperiores
                                        dolores, hic.
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Button trigger modal -->
<!-- Modal -->
@*<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="~/Content/images/close.png" alt="closeimage"></span>
                    </button>
                </div>
                <div id="model-content">
                    <div id="head" class="text-center">
                        <i class="fa fa-check-circle"></i>
                    </div>
                    <h3 class="text-center" id="head-2">Thank you for purchasing</h3>
                    <h4 class="heading">Dear Smith,</h4>
                    <div class="note-description">
                        <p>
                            As this is paid notes-you need to pay to seller Rahil shah offline.We will send him an
                            email that you want to download this note.He may contact you further for payment process
                            completion.
                        </p>

                        <p>In case,you have urgency,<br>Please contect us on +911234567890.</p>

                        <p>
                            Once he recieves the payment and acknowldge us - selected notes you can see over my
                            downloads tab for download.
                        </p>

                        <p id="last">Have a good day.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
     @Html.Action("PaidConformation","Notes")
</div>


