
@model Notes_Market_Place.Models.NotesDetail

@{
    ViewBag.Title = "NotesDeatil";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="notes-01">
    <div class="content-box-md">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-03-info notes-heading-1">
                        <h3>Notes Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--left side-->
                <div class="col-md-6 col-sm-6 col-6">
                    <div class="row">
                        <!--left part-->
                        <div class="col-md-6 col-sm-6 col-6">
                            @if (ViewBag.Display != null)
                            {
                                <div class="note-img">
                                    <img src="@Url.Content(ViewBag.Display)" alt="Book Preview">
                                </div>
                            }
                            else
                            {
                                <div class="note-img">
                                    <img src="~/Content/images/computer-science.png" alt="computer-science book">
                                </div>
                            }
                        </div>
                        <!--right part-->
                        <div class="col-md-6 col-sm-6 col-6">
                            <div id="aboutnote">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-12">
                                        <div class="heading-01" id="note-name">
                                            <h2>@ViewBag.notetitle</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="type">
                                    <h2>@ViewBag.Category</h2>
                                </div>
                                <div class="note-description">
                                    <p>
                                        @ViewBag.Description

                                    </p>
                                </div>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (ViewBag.IsPaid == false)
                                    {
                                        <div id="home-btn">
                                            <a class="btn notes-btn btn-home-03" href="@Url.Action("Download","Notes",new {id=ViewBag.id})" target="download">Download@*$15*@</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="home-btn">
                                            <a class="btn notes-btn btn-home-03" href="#myModal1" target="download"
                                               role="button" data-toggle="modal">Download/$@ViewBag.SellingPrice@*$15*@</a>
                                        </div>
                                    }
                                }
                                else
                                {
                                    if (ViewBag.IsPaid == false)
                                    {
                                        <div id="home-btn">
                                            <a class="btn notes-btn btn-home-03" href="~/Login/Index" target="download">Download@*$15*@</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="home-btn">
                                            <a class="btn notes-btn btn-home-03" href="~/Login/Index">Download/$@ViewBag.SellingPrice@*$15*@</a>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <!--right side-->
                <div class="col-md-6">
                    @if (ViewBag.Institute != null)
                    {
                        <div class="row">
                            <!--right side-->
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="notes-detail-left">
                                    <h4>Institution:</h4>
                                </div>
                            </div>
                            <!--left side-->
                            <div class="col-md-8 col-sm-8 col-8 text-right">
                                <div class="notes-detail-right">
                                    <h4>@ViewBag.Institute</h4>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.Country != null)
                    {
                        <div class="row">
                            <!--right side-->
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="notes-detail-left">
                                    <h4>Country:</h4>
                                </div>
                            </div>
                            <!--left side-->
                            <div class="col-md-8 col-sm-8 col-8 text-right">
                                <div class="notes-detail-right">
                                    <h4>@ViewBag.Country</h4>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.Course != null)
                    {
                        <div class="row">
                            <!--right side-->
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="notes-detail-left">
                                    <h4>Course Name:</h4>
                                </div>
                            </div>
                            <!--left side-->
                            <div class="col-md-8 col-sm-8 col-8 text-right">
                                <div class="notes-detail-right">
                                    <h4>@ViewBag.Course</h4>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.CourseCode != null)
                    {
                        <div class="row">
                            <!--right side-->
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="notes-detail-left">
                                    <h4>Course Code:</h4>
                                </div>
                            </div>
                            <!--left side-->
                            <div class="col-md-8 col-sm-8 col-8 text-right">
                                <div class="notes-detail-right">
                                    <h4>@ViewBag.CourseCode</h4>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.Proffesor != null)
                    {
                        <div class="row">
                            <!--right side-->
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="notes-detail-left">
                                    <h4>Professor:</h4>
                                </div>
                            </div>
                            <!--left side-->
                            <div class="col-md-8 col-sm-8 col-8 text-right">
                                <div class="notes-detail-right">
                                    <h4>@ViewBag.Proffesor</h4>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.NumberofPages != null)
                    {
                        <div class="row">
                            <!--right side-->
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="notes-detail-left">
                                    <h4>Number of Pages:</h4>
                                </div>
                            </div>
                            <!--left side-->
                            <div class="col-md-8 col-sm-8 col-8 text-right">
                                <div class="notes-detail-right">
                                    <h4>@ViewBag.NumberofPages</h4>
                                </div>
                            </div>
                        </div>
                    }
                    @if (ViewBag.ApporvedDate != null)
                    {
                        <div class="row">
                            <!--right side-->
                            <div class="col-md-4 col-sm-4 col-4">
                                <div class="notes-detail-left">
                                    <h4>Approved Date:</h4>
                                </div>
                            </div>
                            <!--left side-->
                            <div class="col-md-8 col-sm-8 col-8 text-right">
                                <div class="notes-detail-right">
                                    <h4>@ViewBag.ApporvedDate@*November 25 2020*@</h4>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <!--right side-->
                        <div class="col-md-4 col-sm-4 col-4">
                            <div class="notes-detail-left">
                                <h4>Rating:</h4>
                            </div>
                        </div>
                        <!--left side-->
                        <div class="col-md-8 col-sm-8 col-8 text-right">
                            <div class="notes-detail-right">
                                <div class="stars rating-star">
                                    @for (int i = 0; i < 5; i++)
                                    {
                                        if (i < ViewBag.Avgreview)
                                        {
                                            <i class="fa fa-star" style="margin-top:10px"></i>
                                        }
                                        else
                                        {
                                            <i class="fa fa-star empty-star" style="margin-top:10px"></i>
                                        }
                                    }
                                    <h4>@ViewBag.TotalReview Reviews</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (ViewBag.Spam != 0)
                    {
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12">
                                <div class="flag">
                                    @ViewBag.Spam Users marked this note as in approriate
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            <hr>
        </div>
    </div>
</section>
<section id="notes-02">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home-03-info notes-heading-1">
                    <h3>Notes Preview</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.NotePreview != null)
                        {
                            <div id="pdf-demo">
                                <iframe src="@Url.Content(ViewBag.NotePreview)" frameborder="0"></iframe>
                            </div>
                        }
                        else
                        {
                            <div id="pdf-demo">
                                <iframe src="~/Content/images/sample.pdf" frameborder="0"></iframe>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="home-03-info notes-heading-1">
                    <h3>Customber Reviews</h3>
                </div>
                <div id="customber-review">
                    <div class="customber-reviewr-part">
                        @*@ViewBag.model = Model.notereview;*@
                      
                        @foreach (var item in Model.notereview)
                        {
                            <div class="row">
                                <div class="col-md-2 col-sm-2 col-2">
                                    @if (item != null)
                                    {
                                        <img src="@Url.Content(item.TblUserProfile.ProfilePicture)" alt="reviewer-1">
                                    }
                                    else
                                    {
                                        <img src="~/Content/images/reviewer-1.png" alt="reviewer-1">
                                    }

                                </div>
                                <div class="col-md-10 col-sm-10 col-10">
                                    <h4>@item.TblUser.FirstName @item.TblUser.LastName@*Richard Brown*@</h4>
                                    <div class="stars">
                                        @for (var i = 0; i < 5; i++)
                                        {
                                            if (i < item.review.Ratings)
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-star empty-star"></i>
                                            }
                                        }
                                        @*<i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star empty-star"></i>*@
                                    </div>
                                    <div class="note-description review-description">
                                        <p>
                                            @item.review.Comments
                                            @*Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sit asperiores
                                                dolore, hic.*@
                                        </p>
                                    </div>

                                </div>
                            </div>
                            <hr>
                            @*<div class="row">
                                    <div class="col-md-2 col-sm-2 col-2">
                                        <img src="~/Content/images/reviewer-2.png" alt="reviewer-1">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-10">
                                        <h4>Alice Ortiaz</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star empty-star"></i>
                                        </div>
                                        <div class="note-description review-description">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sit asperiores
                                                dolores voluptatibus enim, hic.
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-2 col-sm-2 col-2">
                                        <img src="~/Content/images/reviewer-3.png" alt="reviewer-1">
                                    </div>
                                    <div class="col-md-10 col-sm-10 col-10">
                                        <h4>Sara Passmore</h4>
                                        <div class="stars">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star empty-star"></i>
                                        </div>
                                        <div class="note-description review-description">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sit asperiores
                                                dolores, hic.
                                            </p>
                                        </div>

                                    </div>
                                </div>*@
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><img src="~/Content/images/close.png" alt="closeimage"></span>
                    </button>
                </div>
                <div id="model-content">
                    <div class="note-description">
                        <p>
                            “Are you sure you want to download this Paid note. Please confirm.”
                        </p>
                    </div>
                    <div class="col-md-12 review text-right">
                        @Html.ActionLink("Yes", "PaidNote", "Notes", new { id = ViewBag.id, SellingPrice = ViewBag.SellingPrice }, new { @class = "btn btn-notes-under-preview btn-home-03" })
                        @*<a class="btn btn-notes-under-preview btn-home-03" href="@Url.Action("")" target="save" role="button">Yes</a>*@
                        <a class="btn btn-notes-under-preview btn-inreview" href="#" target="save" role="button">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*@Html.Action("PaidConformation", "Notes")*@
</div>





