@model Notes_Market_Place.Models.UserProfile

@{
    ViewBag.Title = "AddAdministrator";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@using (Html.BeginForm("AddAdministrator", "Admin", FormMethod.Post))
{
    <section class="Add-notes">
        <div class="content-box-md">
            <div class="container">
                <div class="row first-component">
                    <div class="col-md-12">
                        <div class="heading-01">
                            <h2>Add Administrator</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <div class="form-group input-flid">
                                <label for="text-1" class="titles">First Name *</label>
                                @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "Enter your first name" })
                                @Html.ValidationMessageFor(model => model.FirstName)
                                @*<input type="text" class="form-control default-text" value="IT">*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label for="description" class="titles">Last Name *</label>
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "Enter your last name" })
                            @Html.ValidationMessageFor(model => model.LastName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group input-flid">
                            <label for="description" class="titles">Email *</label>
                            @Html.TextBoxFor(model => model.User.EmailID, new { @class = "form-control", @placeholder = "Enter your email address" })
                            @Html.ValidationMessageFor(model => model.User.EmailID)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-4 phone">
                                <div class="form-group input-flid">
                                    <label class="titles">Phone Number</label>
                                    <select class="form-control form-control-md" placeholder="+91">
                                        <option>+91</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8 col-8">
                                <div class="form-group input-flid">
                                    <label class="titles">&nbsp;</label>
                                    @Html.TextBoxFor(model => model.phonenumber, new { @class = "form-control", @placeholder = "Enter your phone number", @type="number"})
                                    @*<input type="number" class="form-control" placeholder="Enter your phone number">*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="home-add-notes">
                            <input type="submit" class="btn btn-general btn-home-03" target="save" value="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}
