@model IEnumerable<Notes_Market_Place.Models.UserProfile>

@{
    ViewBag.Title = "ManageAdministrator";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="dashboard">
    <div class="container">
        @using (Html.BeginForm("ManageAdministrator", "Admin", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-01">
                        <h2>Manage Administrator</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div>
                        <a class="btn btn-admin btn-home-03 add-administrator" href="~/Admin/AddAdministrator" target="Add" role="button">Add Administrator</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8">
                            <div class="form-group dash-search">
                                <span class="fa fa-search form-control-feedback"></span>
                                @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Search" })
                                @*<input type="text" class="form-control" placeholder="Search">*@
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4">
                            <div>
                                <a class="btn btn-admin btn-home-03" href="#" target="save" role="button">search</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row table-responsive">
            <table class="table">
                <thead>
                    <tr class="titles">
                        <th scope="col">SR NO.</th>
                        <th scope="col">
                            @*CATEGORY*@
                            @Html.ActionLink("FIRST NAME", "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "FIRST NAME", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                        </th>
                        <th scope="col">
                            @*DESCRIPTION*@
                            @Html.ActionLink("LAST NAME", "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "LAST NAME", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                        </th>
                        <th scope="col">
                            @*DESCRIPTION*@
                            @Html.ActionLink("EMAIL", "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "EMAIL", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                        </th>
                        <th scope="col">
                            @*DESCRIPTION*@
                            @Html.ActionLink("PHONE NO.", "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "PHONE NO.", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                        </th>
                        <th scope="col">
                            @Html.ActionLink("DATE ADDED", "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "DATE ADDED", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            @*DATE ADDED*@
                        </th>
                        <th scope="col">
                            @Html.ActionLink("ACTIVE", "ManageCategory", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "ACTIVE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            @*ACTIVE*@
                        </th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                @if (ViewBag.Message != null)
                {
                    <tr><td colspan="8">@ViewBag.Message</td></tr>
                }
                <tbody class="table-data">
                    @{var srno = (ViewBag.PageNumber - 1) * 5; }
                    @foreach (var item in Model)
                    {
                        srno = srno + 1;
                        <tr>
                            <td>@srno</td>
                            <td>@item.FirstName </td>
                            <td>@item.LastName </td>
                            <td>@item.User.EmailID </td>
                            <td>@item.phonenumber</td>
                            <td>@item.CreatedDate </td>
                            @if (item.User.IsActive == true)
                            {
                                <td>Yes</td>
                            }
                            else
                            {
                                <td>No</td>
                            }
                            <td>
                                <a href="@Url.Action("EditAdministrator", "Admin", new { id = item.ID })"><img src="~/Content/images/edit.png" alt="edit-image"></a>
                                <a href="@Url.Action("DeleteAdministrator", "Admin", new { id = item.ID })">
                                    <img src="~/Content/images/delete.png"
                                         alt="delete-image">
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>


        <section class="dashboard-pagination">
            <div class="pagelist">
                <nav>
                    <ul class="pagination justify-content-center">
                        @{
                            if (ViewBag.totalpages != null)
                            {
                                double TotalPages = ViewBag.totalpages;
                                if (ViewBag.PageNumber == 1)
                                {
                                    <li class="page-item">
                                        @Html.ActionLink("<", "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        @Html.ActionLink("<", "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })
                                    </li>
                                }
                                for (int i = 1; i <= TotalPages; i++)
                                {
                                    if (i == ViewBag.PageNumber)
                                    {
                                        <li class="page-item active ">
                                            @Html.ActionLink(i.ToString(), "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = i }, new { @class = "page-link" })
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item ">
                                            @Html.ActionLink(i.ToString(), "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = i }, new { @class = "page-link" })
                                        </li>
                                    }
                                }
                                if (ViewBag.PageNumber == TotalPages)
                                {
                                    <li class="page-item">
                                        @Html.ActionLink(">", "ManageAdministrator", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        @Html.ActionLink(">", "ManageCategory", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "FIRST NAME" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })
                                    </li>
                                }
                            }
                        }
                    </ul>
                </nav>
            </div>
        </section>
    </div>
</section>


