
@model IEnumerable<Notes_Market_Place.Models.SellerNote>

@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-01">
                    <h2>Dashboard</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="tb-col-right text-center">
                                <div class="tb-div">
                                    <h3><a href="~/AdminDashBoard/NotesUnderReview" class="dashboard-heading">@ViewBag.publishnote@*20*@</a></h3>
                                    <p>Number of Notes in Review for Published</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="tb-col-right text-center">
                                <div class="tb-div">
                                    <h3><a href="~/AdminDashBoard/DownloadNotes" class="dashboard-heading">@ViewBag.downloaded</a></h3>
                                    <p>Number of New Notes Downloaded <br>(Last 7 days)</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="tb-col-right text-center">
                                <div class="tb-div">
                                    <h3><a href="Members page.html" class="dashboard-heading">@ViewBag.newregistration</a></h3>
                                    <p>Number of New Registrations (Last 7 days)</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>

<section id="publishnotes">
    <div class="container">
        @using (Html.BeginForm("AdminDashBoard", "AdminDashBoard", FormMethod.Get))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="home-03-info">
                        <h3>Published Notes</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-5">
                            <div class="form-group dash-search" id="searchbar">
                                <span class="fa fa-search form-control-feedback"></span>
                                @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Search" })
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-3">
                            <div id="Dashboard-btn">
                                <input class="btn btn-admin btn-home-03" type="submit" value="search" name="Search">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4">
                            @Html.DropDownList("month", new SelectList(ViewBag.MonthList, "Value", "Text", ViewBag.seller), "Select Month", new { @class = "form-control admin-dropdown admindashboard-dropdown", @onchange = "this.form.submit()", @style = "margin-top:30px;" })
                        </div>
                    </div>
                </div>
            </div>
        }


            <div class="row table-responsive">
                <table class="table">
                    <thead>
                        <tr class="titles">
                            <th scope="col">SR NO.</th>
                            <th scope="col">
                                @Html.ActionLink("TITLE", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "TITLE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("CATEGORY", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "CATEGORY", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">ATTECHMENT SIZE</th>
                            <th scope="col">
                                @Html.ActionLink("SELL TYPE", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "SELL TYPE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("PRICE", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "PRICE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("PUBLISHER", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "PUBLISHER", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">
                                @Html.ActionLink("PUBLISHED DATE", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "PUBLISHED DATE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">NUMBER OF <br> DOWNLOADS</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    @if (ViewBag.Message != null)
                    {
                        <tr class="text-center"><td colspan="10">@ViewBag.Message</td></tr>
                    }
                    <tbody class="table-data text-center">
                        @{var srno = (ViewBag.PageNumber - 1) * 5; }
                        @foreach (var item in Model)
                        {
                            srno = srno + 1;
                            if (item.Status == 9)
                            {
                                <tr>
                                    <td>@srno</td>
                                    <td class="text-left"><a href="@Url.Action("NotesDeatil", "AdminNoteDetail", new {id = item.ID })">@item.Title</a></td>
                                    <td class="text-left">@item.NoteCategory.Name</td>

                                       @{
                                           var db = new Notes_Market_Place.Models.NotesMarketPLaceEntities();
                                           var downloads = db.Downloads.Where(x => x.NoteID == item.ID && x.IsAttechmentDownloads == true).Count();
                                           var attachment1 = db.SellerNotesAttechments.Where(x => x.NoteID == item.ID);
                                           decimal filesize = 0;
                                           decimal sizekb = 0;
                                           foreach (var files in attachment1)
                                           {
                                               string filepath = Server.MapPath(files.FilePath + files.FileName);
                                               FileInfo file = new FileInfo(filepath);
                                               filesize += file.Length;
                                           }
                                           sizekb = Math.Ceiling(filesize / 1024);

                                        }
                                    <td>@sizekb KB</td>
                                    @if (item.IsPaid == false)
                                    {
                                        <td>
                                            Free

                                        </td>
                                        <td>
                                            $0
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Paid

                                        </td>
                                        <td>
                                            $@Html.DisplayFor(modelItem => item.SellingPrice)
                                        </td>
                                    }
                                    <td class="text-left">@item.User.FirstName @item.User.LastName</td>
                                    <td>@item.PublishedDate.Value.ToString("dd MMM yyyy,hh:mm")</td>

                                   
                                    <td><a href="~/AdminDashBoard/DownloadNotes">@downloads</a></td>
                                    <td class="dropleft">
                                        <a class="dropdown" href="#" id="navbarDropdoenMenuLink" role="button" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false"><img src="~/Content/images/dots.png" alt="view"></a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdoenMenuLink">
                                            <a href="@Url.Action("AdminDashBoardDownload","AdminDashBoard",new {id=item.ID})" class="dropdown-item">Download Notes</a>
                                            <a href="@Url.Action("NotesDeatil", "AdminNoteDetail", new {id = item.ID })" class="dropdown-item">View More Details</a>
                                            <a href="#unpublished-@item.ID" target="save" role="button"
                                               data-toggle="modal"class="dropdown-item">Unpublish</a>
                                        </div>

                                        <!-- Unpublished Model -->
                                        <div class="modal fade" id="unpublished-@item.ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                             aria-hidden="true">
                                            @Html.Action("UnpublishedModel", "AdminDashBoard", new { id = item.ID })
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
</section>

<section class="dashboard-pagination">
    <div class="pagelist">
        <nav>
            <ul class="pagination justify-content-center">
                @{
                    if (ViewBag.totalpages != null)
                    {
                        double TotalPages = ViewBag.totalpages;
                        if (ViewBag.PageNumber == 1)
                        {
                            <li class="page-item">
                                @Html.ActionLink("<", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink("<", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })
                            </li>
                        }
                        for (int i = 1; i <= TotalPages; i++)
                        {
                            if (i == ViewBag.PageNumber)
                            {
                                <li class="page-item active ">
                                    @Html.ActionLink(i.ToString(), "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = i }, new { @class = "page-link" })
                                </li>
                            }
                            else
                            {
                                <li class="page-item ">
                                    @Html.ActionLink(i.ToString(), "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = i }, new { @class = "page-link" })
                                </li>
                            }
                        }
                        if (ViewBag.PageNumber == TotalPages)
                        {
                            <li class="page-item">
                                @Html.ActionLink(">", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink(">", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })
                            </li>
                        }
                    }
                }
            </ul>
        </nav>
    </div>
</section>


