
@model IEnumerable<Notes_Market_Place.Models.SellerNote>

@{
    ViewBag.Title = "AdminDashBoard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="dashboard">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-01">
                    <h2>Dashboard</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="tb-col-right text-center">
                                <div class="tb-div">
                                    <h3><a href="Notes Under Review.html" class="dashboard-heading">20</a></h3>
                                    <p>Number of Notes in Review for Published</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="tb-col-right text-center">
                                <div class="tb-div">
                                    <h3><a href="Downloaded Notes.html" class="dashboard-heading">103</a></h3>
                                    <p>Number of New Notes Downloaded <br>(Last 7 days)</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="tb-col-right text-center">
                                <div class="tb-div">
                                    <h3><a href="Members page.html" class="dashboard-heading">223</a></h3>
                                    <p>Number of New Registrations (Last 7 days)</p>
                                </div>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>

<section id="publishnotes">
    <div class="container">
        @using (Html.BeginForm("AdminDashBoard", "AdminDashBoard", FormMethod.Post))
        {
            <div class="row">
                <div class="col-md-6">
                    <div class="home-03-info">
                        <h3>Published Notes</h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-5">
                            <div class="form-group dash-search" id="searchbar">
                                <span class="fa fa-search form-control-feedback"></span>
                                @Html.TextBox("Search", null, new { @class = "form-control", @placeholder = "Search" })
                                @*<input type="text" class="form-control" placeholder="Search">*@
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-3">
                            <div id="Dashboard-btn">
                                <input class="btn btn-admin btn-home-03" type="submit" value="search" name="Search">
                                @*<a class="btn btn-admin btn-home-03" href="#" target="save" role="button">search</a>*@
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-4">
                            <select class="form-control admin-dropdown admindashboard-dropdown" id="Dashboard-btn">
                                <option>Select month</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        }


            <div class="row table-responsive">
                <table class="table">
                    <thead>
                        <tr class="titles">
                            <th scope="col">SR NO.</th>
                            <th scope="col">
                                @*TITLE*@
                                @Html.ActionLink("TITLE", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "TITLE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">
                                @*CATEGORY*@
                                @Html.ActionLink("CATEGORY", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "CATEGORY", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">ATTECHMENT SIZE</th>
                            <th scope="col">
                                @*SELL TYPE*@
                                @Html.ActionLink("SELL TYPE", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "SELL TYPE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">
                                @*PRICE*@
                                @Html.ActionLink("PRICE", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "PRICE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">
                                @*PUBLISHER*@
                                @Html.ActionLink("PUBLISHER", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "PUBLISHER", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">
                                @*PUBLISHED DATE*@
                                @Html.ActionLink("PUBLISHED DATE", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : (ViewBag.Sortorder == "ASC" ? "DESC" : "ASC"), SortBy = "PUBLISHED DATE", PageNumber = ViewBag.PageNumber == 0 ? 1 : ViewBag.PageNumber }, new { @style = "color:#000000;" })
                            </th>
                            <th scope="col">NUMBER OF <br> DOWNLOADS</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    @if (ViewBag.Message != null)
                    {
                        <tr class="text-center"><td colspan="10">@ViewBag.Message</td></tr>
                    }
                    <tbody class="table-data text-center">
                        @{var srno = (ViewBag.PageNumber - 1) * 10; }
                        @foreach (var item in Model)
                        {
                            srno = srno + 1;
                            if (item.Status == 9)
                            {
                                <tr>
                                    <td>@srno</td>
                                    <td class="text-left"><a href="@Url.Action("NotesDeatil", "AdminNoteDetail", new {id = item.ID })">@item.Title</a></td>
                                    <td class="text-left">@item.NoteCategory.Name</td>
                                    <td>10 KB</td>
                                    @if (item.IsPaid == false)
                                    {
                                        <td>
                                            Free

                                        </td>
                                        <td>
                                            $0
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            Paid

                                        </td>
                                        <td>
                                            $@Html.DisplayFor(modelItem => item.SellingPrice)
                                        </td>
                                    }
                                    <td class="text-left">@*Pritesh Panchal*@</td>
                                    <td>@item.CreatedDate.Value.ToString("dd MMM yyyy,hh:mm")</td>
                                    <td>10</td>
                                    <td class="dropleft">
                                        <a class="dropdown" href="#" id="navbarDropdoenMenuLink" role="button" data-toggle="dropdown"
                                           aria-haspopup="true" aria-expanded="false"><img src="~/Content/images/dots.png" alt="view"></a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdoenMenuLink">
                                            <a href="@Url.Action("AdminDashBoardDownload","AdminDashBoard",new {id=item.ID})" class="dropdown-item">Download Notes</a>
                                            <a href="@Url.Action("NotesDeatil", "AdminNoteDetail", new {id = item.ID })" class="dropdown-item">View More Details</a>
                                            <a href="" class="dropdown-item">Unpublish</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
</section>

<section class="dashboard-pagination">
    <div class="pagelist">
        <nav>
            <ul class="pagination justify-content-center">
                @{
                    if (ViewBag.totalpages != null)
                    {
                        double TotalPages = ViewBag.totalpages;
                        if (ViewBag.PageNumber == 1)
                        {
                            <li class="page-item">
                                @Html.ActionLink("<", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                                @*<a class="page-link" href="#"><img src="~/Content/images/left-arrow.png" alt="right-arrow"></a>*@
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink("<", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber - 1 }, new { @class = "page-link" })
                                @*<a class="page-link" href="#"><img src="~/Content/images/left-arrow.png" alt="right-arrow"></a>*@
                            </li>
                        }
                        for (int i = 1; i <= TotalPages; i++)
                        {
                            if (i == ViewBag.PageNumber)
                            {
                                <li class="page-item active ">
                                    @Html.ActionLink(i.ToString(), "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = i }, new { @class = "page-link" })
                                    @*<a class="page-link" href="#">@i</a>*@
                                </li>
                            }
                            else
                            {
                                <li class="page-item ">
                                    @Html.ActionLink(i.ToString(), "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = i }, new { @class = "page-link" })
                                    @*<a class="page-link" href="#">@i</a>*@
                                </li>
                            }
                        }
                        if (ViewBag.PageNumber == TotalPages)
                        {
                            <li class="page-item">
                                @Html.ActionLink(">", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber }, new { @class = "page-link" })
                                @*<a class="page-link" href="#"><img src="~/Content/images/left-arrow.png" alt="right-arrow"></a>*@
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                @Html.ActionLink(">", "AdminDashBoard", new { Sortorder = ViewBag.Sortorder == null ? "DESC" : ViewBag.Sortorder, SortBy = ViewBag.SortBy == null ? "TITLE" : ViewBag.SortBy, PageNumber = ViewBag.PageNumber + 1 }, new { @class = "page-link" })
                                @*<a class="page-link" href="#"><img src="~/Content/images/left-arrow.png" alt="right-arrow"></a>*@
                            </li>
                        }
                    }
                }
            </ul>
        </nav>
    </div>
</section>


